@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS untuk scroller */
/* Pilihan warna dan ukuran dapat disesuaikan dengan preferensi Anda */

/* Gaya dasar untuk scroller */

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  body {
    margin: 0;
    font-family: "Poppins",;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); */
  }